.login form {
    display: flex;
    flex-direction: column;

}

.exceed-max-words {
    background-color: red;
}

.login label,
.login input,
.login textarea,
.login button {
    margin-bottom: 10px;
}
.login textarea
{
    resize: vertical
}
.login span {

display: block;

}
