<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elo System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fan_leaderboard.css') }}">
    <script src="{{ url_for('static', filename='js/fan_leaderboard.js') }}" defer></script>
</head>
<body>
    <video id="background-video" autoplay loop muted poster="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaWJvNTU1bHk5a243NXZhYTE4djk5eGJsYWhkbTM3MHlsNXhjcG15YyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3ohc1292yKn6Z1saGs/giphy.gif">
        <source src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaWJvNTU1bHk5a243NXZhYTE4djk5eGJsYWhkbTM3MHlsNXhjcG15YyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3ohc1292yKn6Z1saGs/giphy.gif">
    </video>

       <div class="app-navbar">
        <div class="app-body">
          <div class="app-body-navigation">
            <nav>
              <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/leaderboard_fan">Leaderboard public</a></li>
                <li><a href="/achievements">Awards</a></li>
                <li><a href="/create">Register</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>


<div class="container" id="container">
    <div class="leaderboard">
        <div class="description">
            <h3>Hero Association leaderboard</h3>
            <p>Date 02/24/2024</p>
            <input type="search" placeholder="search" id="search_hero">
            <input type="number" id="eloFilter" placeholder="search elo">
            <table id="heroTable">
                <thead>
                    <tr>
                        <th>Heroes</th>
                        <th>Elo</th>
                        <th>Estimated Rank</th>
                        <th>Informatica</th>
                        <th>achievements</th>
                    </tr>
                </thead>
                <tbody>
                {% for hero in heroes %}
                    <tr id="leader">

                        <td>
                            <img src="data:image/png;base64,{{ hero.image }}" alt="profile-picture"
                                style="height: 80px; width: 80px">
                            <p>{{ hero.alias }}</p>
                        </td>
                        <td class="elo">{{ hero.eol }}</td>
                        <td>{{ hero.rank }}</td>
                        <td>
                            <form action="{{ url_for('hero_profile') }}" method="post">
                                <input type="hidden" name="hero_id" value="{{ hero.id }}">
                                <button type="submit">info</button>
                            </form>
                        </td>
                        <td>
                            <form action="{{ url_for('achievements') }}" method="post">
                                <input type="hidden" name="hero_id" value="{{ hero.id }}">
                                <button type="submit">achievements</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="feedback-buttons">
                <a href="/report"><button id="reportButton" >Report Issue</button></a>
                <a href="/feedback"><button id="feedbackButton">Provide Feedback</button></a>
                <a href="/vote"><button id="vote">vote for favorite hero</button></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
