<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title></title>
<link rel="stylesheet" href="../CSS/statsmain.css">

</head>
<body>
  <video id="background-video" autoplay loop muted poster="saitama-one-punch-man-moewalls-com.mp4">
    <source src="saitama-one-punch-man-moewalls-com.mp4" type="video/mp4">
  </video>  

	<div class="app-navbar">
    <header class="app-header">
      <div class="app-header-logo">
        <div class="logo">
          <span class="logo-icon">
            <img src="OPM-logo.webp">
          </span>
          <h1 class="logo-title">
            <span>Punch academy:</span>
            <span>Punch your way through</span>
          </h1>
        </div>
      </div>
    </header>
  
    <div class="app-body">
      <div class="app-body-navigation">
        <nav>
          <ul class="menu">
            <li><a href="#!">Home</a></li>
            <li><a href="#!">Contact us</a></li>
            <li><a href="#!">Lore</a></li>
            <li><a href="#!">Awards</a></li>
            <li><a href="#!">sign in</a></li>
          </ul>
          </nav>
      </div>
    </div>
  </div>

  <div class="container" id="container">
    <div class="content">
      <div class="heads">
        <div class="head">
          <p>Character</p>
          <h1>**Name of character**</h1>
          <p>**lore character**</p>
        </div>
  
        <div class="head">
          <p>Ultimate</p>
          <h1>**power ups**</h1>
          <p>**wat de ultimate doet**</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>